* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
}

/* common ..........................................*/

.common-btn {
    border-radius: 10px;
    cursor: pointer;
    background: #1D4ED8;
    color: #FFFFFF;
    border: none;
    padding: 15px 40px;

}



/* header section .......................................*/

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 60px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
}

.header-btn-container {
    justify-self: end;

}

.header-btn-container button {
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}

/* hero section .........................................*/

.hero-container {
    height: 786px;

    /* background-image: url("./assets/banner.jpg"); */

     background-image:
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0) 70%
        ),
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 42%,
            rgba(0, 0, 0, 0.88) 87%
        ),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    place-items: center;
    text-align: center;
    
}
.hero-text{
    color: white;
}
.hero-text h1{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}
.hero-text h1 span{
    font-style: italic;
}
.hero-text p {
    font-size: 22px;
    max-width: 60ch;
    margin-inline: auto;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFFE6;
}

.hero-btn{
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    background: #1D4ED8;
    color: #FFFFFF;
    border: none;
    padding: 20px 60px;
}

/* meet the speakers .............................................*/
.speakers-container {
    place-items: center;
    padding: 70px 0;
    margin-bottom: 60px;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1300px;
    margin-inline: auto;
}

.speakers-grid div{
    border: 2px solid #E5E7EB;
    border-radius: 10px;
}
.speakers-grid div img{
    border:none;
    border-radius: 10px;
}

.speakers-container h2{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    color: #000102;
    margin-bottom: 50px;
}

.speakers-text{
    display: grid;
    padding: 20px;
    gap: 10px;
}

.topic{
    font-size: 12px;
    color: #2563EB;
    font-weight: 600;
}
.name{
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
}
.affiliation{
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}

/* secure your spot cards ................................*/

.card-container {
    place-items: center;
    margin-bottom: 130px;
}

.card-container h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 10px;
}
.card-container #card-discription{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    margin-bottom: 40px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-inline: auto;
}
.card{
    border: 2px solid #E5E7EB;
    list-style: none;
    padding: 25px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.pro{
    border: 2px solid #0D1B2A;
    background-color: #0D1B2A;
}
.team{
    background-color: #F8F9FB;
}
.card li{
    list-style: none;
    font-size: 14px;
    margin-top: 20px;
    color: #333333;
}
.card li span{
    color: #60A5FA;
}

.card-btn{
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    color: #2563EB;
    border: 2px solid #2563EB;
    padding: 15px 125px;
    margin-top: 20px;
}
.pro .card-btn{
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: #1D4ED8;
    color: #FFFFFF;
    border: none;
    padding: 15px 125px;
    margin-top: 20px;
}

.card div{
    display: grid;
    place-items: center;
}

.card article{
    border-bottom: 2px solid #E5E7EB;
}
.card article h3{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #888888;
      
}

.card article .price{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0D1B2A;
      
}
.card article .per{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #888888;
    
}

.pro article h3{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #93C5FD;
      
}

.pro article .price{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #FFFFFF;
      
}

.pro article .per{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #FFFFFF80;
      
}
.pro li{
    color: #FFFFFFCC;
}
.card #highlited{
    border-bottom: 2px solid #FFFFFF1A;
}

